---
import LightLayout from "@/layouts/LightLayout.astro";

import EntriesOne from "@/components/entries/EntriesOne.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<LightLayout pageTitle={tag}>
  <section class="lg:p-8 overflow-hidden bg-white">
    <div class="px-8 py-24 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
      <div class="space-y-24">
        <div>
          <span class="text-black"> Our blog</span>
          <h2
            class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-black">
            All the best news about charts <span class="md:block text-zinc-400"
              >in one quality place</span
            >
          </h2>
        </div>

        <div class="mx-auto text-lg lg:col-span-2 mt-12 lg:mt-0">
          <ol role="list" class="mt-16 flex flex-wrap gap-3">
            {
              tags.map((tag) => (
                <li>
                  <a
                    class="text-zinc-500 text-xs  capitalize"
                    href={`/tags/${tag}`}>
                    {tag}
                  </a>
                </li>
              ))
            }
          </ol>
          <ol role="list" class="grid gap-12 mt-24">
            {
              posts.map((post) => (
                <EntriesOne
                  url={"/posts/" + post.slug}
                  url={"/posts/" + post.slug}
                  title={post.data.title}
                  description={post.data.description}
                  alt={post.data.title}
                  pubDate={post.data.pubDate.toString().slice(0, 10)}
                  author={post.data.author}
                  image={post.data.image.url}
                />
              ))
            }
          </ol>
        </div>
      </div>
    </div>
  </section>
</LightLayout>
